/* Home Page section 3 - Client say */
.client-say {
    width: 100%;
    position: relative;
    .client-say-content {
        background-color: $white;
        border-radius: 8px;
        width: 700px;
        height: 280px;
        margin: 0 auto;
        box-shadow: 0px 0px 15px 0px rgba(185,185,185,0.5);
        .slick-next {
            right: -25px;
        }
        .slick-prev:before {
                left: -40px;
        }
        .slick-list {
            .client-slide {
                width: 100%;
                padding: 56px;
                .client-photo {
                    margin-bottom: 10px;
                    img {
                        display: inline-block;
                    }
                    p {
                        display: inline-block;
                        margin-left: 15px;
                        margin-top: -10px;
                        vertical-align: middle;
                    }
                }
                .client-say-name {
                    display: block;
                    color: $secondary-color;
                    font-weight: 700;
                    margin-bottom: 0px;
                    font-size: 1.1em;
                    letter-spacing: 0.05em;
                }
                .client-say-location {
                    display: block;
                    font-weight: 300;
                    font-size: 1em;
                    color: $text-light;
                }
                .client-say-comment {
                    margin-bottom: 20px;
                    font-size: 1.10em;
                }
            }
        }
    }
}