<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Admin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <p><img class="logo" src="./images/arkihive-logo.svg" /></p>
            <p>Admins</p>
            <p><a href="#">Logout</a></p>
        </header>
        <section>
            <form align="center" method="post" action="/addbigtext">
                <div class="box">
                    <h2><center>Feed homepage changing text</center></h2>
                    <table>
                        <tr>
                            <td>
                                <input type="text" placeholder="Enter text" name="bigtext" required /><br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="submit" value="Submit" />
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <form align="center" action="/addGetStartedImages" method="post" enctype="multipart/form-data">
                <div class="box">
                    <h2><center>Feed Project Gallery Info</center></h2>
                    <table>
                        <tr>
                            <td>
                                <input type="file" name="getstartedimage" required /><br/>
                                <input type="text" placeholder="Enter Description" name="description" required /><br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="submit" value="Submit" />
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
            <form align="center" action="/addClientInfo" method="post" enctype="multipart/form-data">
                <div class="box">
                    <h2><center>Feed Client Say Info</center></h2>
                    <table>
                        <tr>
                            <td>
                                <input type="file" name="clientphoto" required /><br/>
                                <input type="text" placeholder="Enter Client Name" name="clientname" required /><br/>
                                <input type="text" placeholder="Enter Client Location" name="clientlocation" required /><br/>
                                <textarea rows="5" cols="50" placeholder="Enter Client Comments" name="clientcomment" required></textarea><br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="submit" value="Submit" />
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </section>
    </body>
</html>