<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <p><img class="logo" src="../images/arkihive-logo.svg" /></p>
            <p>Error</p>
        </header>
        <section>
            <!-- <form align="center" method="post" action="/verifiedUser"> -->
                <div class="box">
                    <center>
                        <h2>Error!!!</h2>
                        <br />
                        <h3 class="text-highlight">Oops!!</h3>
                        <br />
                        <p>Something went wrong.
                        <br />
                        Please go back and try again.
                        <br />
                        If the problem persists, please contact the administrator.</p>
                        <br />
                        <input action="action" onclick="window.history.go(-1); return false;" type="button" value="Back" />
                    </center>
                    <!-- <input type="submit" name="submit" value="Submit" /> -->
                </div>
            <!-- </form> -->
        </section>
    </body>
</html>