.persona-photo {
    margin: 5px auto;
    .img-circle {
        border: none;
    }
    p {
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        span {
            display: block;
        }
        .persona-name {
            font-size: 0.85em;
            font-weight: 700;
            color: $outline-button-border-color;
            letter-spacing: 0.3px;
        }
        .persona-role {
            font-size: 0.8em;
        }
    }
}