/* variable definitions */
$primary-background-color: #f5f5f5;
$primary-font-color: #222;
$secondary-color: #ff7701;
$tertiary-color: #4990e2;
$facebook-color: #3b5998;
$google-color: #cf4332;
$outline-button-border-color: #555;
$text-light: #999;
$light-grey: #dcdcdc;
$white: #fff;
$green-line: #00d563;
$primary-text: 'Roboto';
$highlight-text: 'Playfair Display';
$drop-shadow-color: rgba(0, 0, 0, 0.1);
$get-started-image-color-1: #efac52;
$get-started-image-color-2: #b3c446;
$get-started-image-color-3: #d76e89;
$get-started-image-color-4: #eecf46;
$get-started-image-color-5: #8ce2d3;